#user-icon {
	margin-right: 15px;
}

#login-container {
	margin-top: 20px;
	text-align: center;
}

#login-container #account-name {
	margin-top: 10px;
	font-size: large;
	margin-bottom: 0;
}

#login-container #point {
	margin-top: 10px;
	font-size: large;
	margin-bottom: 0;
	font-size: small;
}

#logout-button {
	margin-top: 10px;
	margin-left: 20px;
}



#login-button {
	margin-right: 5px;
}
/*Thông báo*/
.notification-content {
	float: left;
}

.notification-image {
	float: left;
}
/* Cửa hàng*/
.tabs {
	margin-right: 15px;
	padding: 5px;
}

.tabs:hover {
	border-bottom: 1px solid #2196F3
}

.store-container {
	overflow: auto;
	height: 300px;
}

.store-items-container:hover {
	background-color: black;
	color: white;
}

.store-image {
	height: 75px;
	width: 75px;
}

.store-image img {
	height: 75px;
	width: 75px;
	object-fit: contain;
}

.store-infromation {
	width: 75px;
	height: 75px;
	text-align: center;
}